[Unit]
Description=Daemon for exposing recent environment conditions via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/environmentd /etc/environmentd/%i.json
Environment="XDG_CONFIG_HOME=/var/tmp/daemon_home"
Environment="XDG_CACHE_HOME=/var/tmp/daemon_home"

[Install]
WantedBy=multi-user.target
