[Unit]
Description=Daemon for exposing recent dome environment conditions via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/environmentd /etc/environmentd/sensors.json
StandardOutput=syslog
StandardError=syslog
Environment="XDG_CONFIG_HOME=/var/tmp/daemon_home"
Environment="XDG_CACHE_HOME=/var/tmp/daemon_home"

[Install]
WantedBy=multi-user.target
